apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: organica
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/HuyHoangTran05/Organica.git'
    path: k8s/overlays/production
    targetRevision: HEAD
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: production
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
